{% extends "board/main.html" %}


{% block center %}
    <div class="dad-container">
        <div class="main-container">
          
          <div class="file-a files">
            <div class="square">rook_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">rook_w</div>
          </div>
          
          
          <div class="file-b files">
            <div class="square">knight_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">knight_w</div>
          </div>
          
          
          <div class="file-c files">
            <div class="square">bishop_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">bishop_w</div>
          </div>
          
          
          <div class="file-d files">
            <div class="square">king_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">king_w</div>
          </div>
          
          
          <div class="file-e files">
            <div class="square">queen_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">queen_w</div>
          </div>
          
          
          <div class="file-f files">
            <div class="square">bishop_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">bishop_w</div>
          </div>
          
          <div class="file-g files">
            <div class="square">knight_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">knight_w</div>
          </div>
          
          <div class="file-h files">
            <div class="square">rook_b</div>
            <div class="square">pown_b</div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">pown_w</div>
            <div class="square">rook_w</div>
          </div>
        </div>
      </div>
    
{% endblock %}