{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link rel="stylesheet" href="{% static 'board/style/style.css' %}" />
</head>

<body>
    
    <div class="container">
        <h1>CHESS</h1>

        <ul>
            <div class="div" id="row_8">
                <li class="box" id="801">rook_b</li>
                <li class="box" id="802">knight_b</li>
                <li class="box" id="803">bishop_b</li>
                <li class="box" id="804">queen_b</li>
                <li class="box" id="805">king_b</li>
                <li class="box" id="806">bishop_b</li>
                <li class="box" id="807">knight_b</li>
                <li class="box" id="808">rook_b</li>
            </div>

            <div class="div" id="row_7">
                <li class="box" id="701">pown_b</li>
                <li class="box" id="702">pown_b</li>
                <li class="box" id="703">pown_b</li>
                <li class="box" id="704">pown_b</li>
                <li class="box" id="705">pown_b</li>
                <li class="box" id="706">pown_b</li>
                <li class="box" id="707">pown_b</li>
                <li class="box" id="708">pown_b</li>
            </div>
            
   
            
            <div class="div" id="row_6">
                <li class="box" id="601"></li>
                <li class="box" id="602"></li>
                <li class="box" id="603"></li>
                <li class="box" id="604"></li>
                <li class="box" id="605"></li>
                <li class="box" id="606"></li>
                <li class="box" id="607"></li>
                <li class="box" id="608"></li>
            </div>
            
            
           
            <div class="div" id="row_5">
                <li class="box" id="501"></li>
                <li class="box" id="502"></li>
                <li class="box" id="503"></li>
                <li class="box" id="504"></li>
                <li class="box" id="505"></li>
                <li class="box" id="506"></li>
                <li class="box" id="507"></li>
                <li class="box" id="508"></li>
            </div>
            
            <div class="div" id="row_4">
                <li class="box" id="401"></li>
                <li class="box" id="402"></li>
                <li class="box" id="403"></li>
                <li class="box" id="404"></li>
                <li class="box" id="405"></li>
                <li class="box" id="406"></li>
                <li class="box" id="407"></li>
                <li class="box" id="408"></li>
            </div>
            
            <div class="div" id="row_3">
                <li class="box" id="301"></li>
                <li class="box" id="302"></li>
                <li class="box" id="303"></li>
                <li class="box" id="304"></li>
                <li class="box" id="305"></li>
                <li class="box" id="306"></li>
                <li class="box" id="307"></li>
                <li class="box" id="308"></li>
            </div>
            
            <div class="div" id="row_2">
                <li class="box" id="201">pown_w</li>
                <li class="box" id="202">pown_w</li>
                <li class="box" id="203">pown_w</li>
                <li class="box" id="204">pown_w</li>
                <li class="box" id="205">pown_w</li>
                <li class="box" id="206">pown_w</li>
                <li class="box" id="207">pown_w</li>
                <li class="box" id="208">pown_w</li>
            </div>
            
            <div class="div" id="row_1">
                <li class="box" id="101">rook_w</li>
                <li class="box" id="102">knight_w</li>
                <li class="box" id="103">bishop_w</li>
                <li class="box" id="104">queen_w</li>
                <li class="box" id="105">king_w</li>
                <li class="box" id="106">bishop_w</li>
                <li class="box" id="107">knight_w</li>
                <li class="box" id="108">rook_w</li>
            </div>

        </ul>
    </div>

    <h2 id="tog">WHITE turn</h2>
    <h2 id="reset_btn">Reset</h2>

    
    <script type="module" src="{% static 'board/javascript/main.js' %}"></script>


</body>
</html>